{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EMS Admin{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/admin.css' %}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<div class="wrapper">

    <!-- Sidebar -->

    <aside class="sidebar">

        <div class="logo">
            <i class="fa-solid fa-calendar-days"></i>
            <span>EMS Admin</span>
        </div>

        <ul class="menu">

            <li class="active">
                <a href="#">
                    <i class="fa-solid fa-chart-line"></i>
                    Dashboard
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-users"></i>
                    Users
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-calendar-check"></i>
                    Category
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-calendar-check"></i>
                    venue
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-calendar-check"></i>
                    Events
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-calendar-check"></i>
                    Upcoming events
                </a>
            </li>



            <li>
                <a href="#">
                    <i class="fa-solid fa-calendar-check"></i>
                    Tickets
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-calendar-check"></i>
                    notifications
                </a>
            </li>



            <li>
                <a href="#">
                    <i class="fa-solid fa-camera"></i>
                    Services
                </a>
            </li>



            <li>
                <a href="#">
                    <i class="fa-solid fa-box"></i>
                    Packages
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-ticket"></i>
                    Bookings
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-money-bill-wave"></i>
                    Payments
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-chart-pie"></i>
                    Reports
                </a>
            </li>

        </ul>

    </aside>

    <!-- Main Content -->

    <main class="main-content">

        <header class="topbar">

            <div class="search-box">
                <input type="text" placeholder="Search...">
            </div>

            <div class="top-right">

                <button class="notification">
                    <i class="fa-solid fa-bell"></i>
                    <span>5</span>
                </button>

                <div class="profile">

                    <img src="https://i.pravatar.cc/50" alt="Admin">

                    <div>
                        <h4>Administrator</h4>
                        <p>Super Admin</p>
                    </div>

                </div>

            </div>

        </header>

        {% block content %}
        {% endblock %}

    </main>

</div>

<script src="{% static 'js/admin.js' %}"></script>

</body>
</html>