{% load static %}
<!--<!DOCTYPE html>-->
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>One Piece</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,300;1,400&family=DM+Sans:wght@300;400;500&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />

  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

</head>
<body>





<!-- TOP HEADER / NAVBAR -->
<header class="login-header">
  <div class="container">

    <!-- BRAND -->
    <div class="brand">
      <h1 class="logo">One Piece</h1>
      <p class="tagline">YOHOHOHOOOO </p>
    </div>

    <!-- NAVIGATION -->
    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="home">Home</a></li>
        <li><a href="shop">Shop</a></li>
        <li><a href="about">About Us</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </nav>

    <!-- ACTION BUTTONS -->
    <div class="nav-actions">
      <a href="login" class="btn-outline">Login</a>
      <a href="register" class="btn-primary">Sign Up</a>
    </div>

  </div>
</header>



{% block content %}

{% endblock %}




        <!-- FOOTER -->
         <footer class="login-footer">
           <p>
    © 2026 MAISON. All rights reserved.
           </p>


  <p class="login-footer-links">
    <a href="#">Privacy Policy</a>
    <span>•</span>
    <a href="#">Terms</a>
    <span>•</span>
    <a href="#">Support</a>
  </p>
</footer>


  <!-- TOAST -->
  <div class="toast" id="toast"></div>

  <script src="{% static 'js/login.js' %}"></script>
</body>
</html>